{% extends "layout.html" %}
{% block body %}

  <div class="container homepage-main">
    <div class="row">
      <div class="col-sm-8">
        <p class="lead">Discover Europe's and world's cultural heritage objects - paintings, photographs, books etc. - by looking up topics or subjects you're insterested in.</p>
        <p class="lead">Try for example: <a href="/search?q=love">love</a>, <a href="/search?q=Neo-Classicism">Neo-Classicism</a>, <a href="/search?q=Greek Mythology">Greek mythology</a> or <a href="/search?q=furniture">furniture</a>.</p>
        <p>In the results, you'll get previews of the objects, some basic information, links to the objects on websites of providing cultural institutions, information about authors (when available) and list of other subjects [<a href="http://purl.org/dc/elements/1.1/subject"><abbr title="Dublin Core: subject">dc:subject</abbr></a> and <abbr title="Europeana Data Model: hasMet">edm:hasMet</abbr>] with which is the cultural heritage object annotated. Then you can run another searches by these subjects.</p>
      </div>
    </div>
  </div>

{% endblock %}
