{% extends "layout.html" %}
{% block body %}

  <div class="container homepage-main">
    <div class="row">
      <div class="col-sm-8">
        <p class="lead">Discover European cultural heritage objects - paintings, photographs, books, videos etc. - by looking up topics or subjects you're interested in.</p>
        <p class="lead">Try for example: <a href="/search?q=sea">sea</a>, <a href="/search?q=love">love</a>, <a href="/search?q=Greek Mythology">Greek mythology</a>, <a href="/search?q=furniture">furniture</a> or <a href="/search?q=Holidays">holidays</a>.</p>
        <p>In the results, you'll get previews of the objects, some basic information, links to the objects on websites of providing cultural institutions, information about authors (when available) and list of other subjects with which are the items annotated. Then you can run another searches by these subjects.</p>
      </div>
    </div>
  </div>

{% endblock %}
