<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <title>wiss</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/typeahead.js-bootstrap.css" rel="stylesheet">

    <style type="text/css">
        img {
          max-width: 100%;
          max-height: 320px;
        }
        body {padding-top: 60px;}
        #info {
          background-color: #eee;
          width: 100%;
          padding-top: 20px;
          padding-bottom: 20px;
        }
        #info div {
          padding-bottom:8px;
        }
        .homepage-main {
          padding-top: 100px;
          padding-bottom: 100px;
        }

        .twitter-typeahead .tt-hint {display: block; height: 34px; padding: 6px 12px; font-size: 14px;line-height: 1.428571429; border: 1px solid transparent; border-radius:4px;}
        .twitter-typeahead .hint-small {height: 30px; padding: 5px 10px; font-size: 12px; border-radius: 3px; line-height: 1.5;}
        .twitter-typeahead .hint-large {height: 45px; padding: 10px 16px; font-size: 18px; border-radius: 6px; line-height: 1.33;}

    </style>

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">wiss</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-left" role="form" action="search" method="get">
            <div class="form-group">
              <input type="text" class="form-control mysearch" name="q" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    {% block body %}{% endblock %}

    <div class="container" id="info">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div><strong>Data sources used</strong></div>
            <div class="row">
              <div class="col-xs-4">
                <a href="http://europeana.eu/"><img alt="Europeana" src="/static/europeana-logo.png"></a><br><a href="http://europeana.ontotext.com/sparql">Europeana SPARQL endpoint</a>
              </div>
              <div class="col-xs-4">
                <a href="http://dbpedia.org"><img alt="DBpedia" src="/static/dbpedia-logo.png"></a><br><a href="http://dbpedia.org/sparql">DBpedia SPARQL endpoint</a>
              </div>
              <div class="col-xs-4">
                <a href="http://www.eionet.europa.eu/gemet/"><strong>GEMET Thesaurus</strong></a><br><a href="http://semantic.eea.europa.eu/sparql">European Environment Agency SPARQL endpoint</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div><strong>Love wiss</strong></div>
            <div>
              <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://wiss.herokuapp.com/" data-text="Explore European cultural heritage by looking up topics or subjects you're interested in" data-via="tomas_hanzal">Tweet</a>
            </div>
          </div>
        </div>
        <div>
          Developed as an assignment for the course <strong>4IZ440 - Linked data on the web</strong> at <a href="http://kizi.vse.cz/">KIZI</a>, <a href="http://www.vse.cz/english/">University of Economics, Prague</a> by <a href="https://twitter.com/tomas_hanzal">Tomas Hanzal</a>, 2013&#8211;2014
        </div>
      </div>
    </div>   

    <!-- Core JS -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/static/typeahead.min.js"></script>

    <!-- AJAX -->
    <script type=text/javascript>

      $(document).ready(function(){

        $("a.author").click(function(){
          var self = $(this);
          $.getJSON('/a', { author: self.text() }, function(data) {
            $(self.data('target')+" .modal-body").append("<img src=\""+data["image"]+"\" alt=\""+data["name"]+"\">");
            $(self.data('target')+" .modal-body").append("<p>"+data["abstract"]+"</p>");
            $(self.data('target')+" .modal-body").append("<p><a href=\""+data["link"]+"\">More (at Wikipedia) &raquo;</a></p>")
          });
        });

        $("a.subjects").click(function(){
          var self = $(this);
          $.getJSON('/s', { obj: self.data("obj") }, function(data) {
            $(self.data('target')+" .modal-body .loading-indicator").hide();
            $.each(data["subjects"], function(index, item) {
              $(self.data('target')+" .modal-body ul").append("<li><a href=\"/search?q="+item["subject"]+"\">"+item["label"]+"</a></li>");
            });
          });
        });

        $('input.mysearch').typeahead({
          name: 'wiss-search',
          prefetch: '/static/subjects.json'
        });

      });
    </script>

    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>
